/*************************************/
/*=========     GLOBAL     =========*/
/***********************************/
%contenedores
	padding: 100px 0 0 0

header
	figure
		display: inline-block
		border: none
		width: 50px
		height: 50px
		img
			width: 100%

.section-title
	color: $main-color
	font-size: 40px
	margin-bottom: 15px
	+ p
		font-size: 20px
		padding-bottom: 50px
	



/*************************************/
/*=========     HEADER     =========*/
/***********************************/

.navbar-default
	background-color: $main-color
	border: none
	max-height: 50px

	.navbar-brand
		color: $main-color
		font-family: $second-font
		&:hover,
		&:active,
		&:focus
			color: $third-color !important

	.navbar-toggle
		border: none
		background-color: $main-color
		color: #fff
		&:hover,
		&:active,
		&:focus
			background: $main-color !important

	.navbar-nav
		>li
			>a
				font-family: $second-font
				color: #fff
				text-transform: uppercase
				&:hover,
				&:active,
				&:focus
					color: $third-color !important
		>.active
			>a
				color: $second-color
				background-color: transparent !important

#nav-links
	display: none



/*************************************/
/*=========     BANNER     =========*/
/***********************************/
#map
	min-height: 400px
	width: 100%

	/*solo para que ocupe algo*/
/***************************************/
/*=========     SERVICES     =========*/
/*************************************/
#services
	@extend %contenedores
	.row
		margin: 0 2%
	/*	Para probar como queda sin fondo */
	/* background-color: #CB5B38 */
	/*solo para ver*/
	.glyphicon
		width: 110px
		height: 110px
		background-color: $second-color
		+b-ra(50%)
		line-height: 110px
		color: #fff !important
		font-size: 35px !important
	.item-subtitle
		margin-top: 15px
		margin-bottom: 15px
		+ p
			font-size: 15px


/****************************************/
/*=========     TOP 6     =========*/
/**************************************/
#top6
	@extend %contenedores

.img-menu
	margin: 0 auto 30px
	max-width: 400px
	figure
		position: relative
		img
			width: 100%
		div
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba(254,209,54,0.8)
			opacity: 0
			+ttion(500ms)
			span
				position: absolute
				left: 50%
				top: 50%
				color: #fff
				font-size: 50px
				transform: translate(-50%,-50%) scale(0)
				+ttion(300ms)
		&:hover
			div
				opacity: 1
				span
					transform: translate(-50%,-50%) scale(1)


/************************************/
/*=========     ABOUT     =========*/
/**********************************/
#about
	@extend %contenedores
	p
		text-align: center
		font-size: 15px
		margin: 0 2%
/***********************************/
/*=========     TEAM     =========*/
/*********************************/
#team
	@extend %contenedores
	.row
		margin: 0 2%
		margin-top: 50px
	img
		width: 200px
	.item-subtitle
		margin-top: 15px
		margin-bottom: 5px
		+ p
			font-size: 15px

.redes
	color: $main-color
	margin: 0 5px
	font-size: 25px
	&:hover,
	&:active,
	&:focus
		color: $third-color !important



/**************************************/
/*=========     CONTACT     =========*/
/************************************/

/**************************************/
/*=========     FOOTER     =========*/
/************************************/
