/*************************************/
/*=========     GLOBAL     =========*/
/***********************************/

header
	figure
		display: inline-block
		border: none
		margin: 0 0 0 5%
		width: 50px
		height: 50px
		img
			width: 100%

/*************************************/
/*=========     HEADER     =========*/
/***********************************/

.navbar-default
	background-color: $main-color
	border: none
	max-height: 50px
/***************************************/
/*=========     SERVICES     =========*/
/*************************************/

/****************************************/
/*=========     PORTFOLIO     =========*/
/**************************************/

/************************************/
/*=========     ABOUT     =========*/
/**********************************/

/***********************************/
/*=========     TEAM     =========*/
/*********************************/

/**************************************/
/*=========     CONTACT     =========*/
/************************************/

/**************************************/
/*=========     FOOTER     =========*/
/************************************/